* {

    user-select: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

html, body {

    height: 100%;
    margin: 0;
    overflow: hidden;

}

header {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 1;

}

h1 {

    text-align: center;
    font-size: 3vw;

}

button {

    width: 15%;

}

main {

    display: flex;
    position: absolute;
    height: 100%;

}

section {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;

}

aside {

    position: absolute;
    top: 1%;
    left: 1%;

}
